bin/
obj/
*.dll
*.pdb
*.cache
*.log
*.user
.vs/
appsettings.json
obj
.idea
appsettings.Development.json
Properties/PublishProfiles
Web Deploy.pubxml
Web Deploy.PublishProfiles
Properties/Web Deploy.pubxml
Properties/PublishProfiles
Properties/pubxml

Properties/site50043-WebDeploy.pubxml